.about{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.aboutTop{
    width:100% ;
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.aboutBot{
    display: flex;
    flex-direction: column;
    height: 55%;
    align-items: center;
    margin-top: 50px;
}

.about .aboutBot h1{
    justify-content: center;
    align-items: center;
    font-size: 100px;
    height: 100px;
    font-weight: 500;
    color: #8458B3;
}

.about .aboutBot p{
    width: 80%;
    font-size: 25px;
    text-align: center;
}

.about .aboutBot{
    font-weight: 400;
    font-size: 70px;
    color: #494D5F;
    height: 30px;
    display: flex;
    justify-content: center;
}