.allBlogs {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}

.allBlogs button {
    color: #494D5F;
    border:none;
    border-radius: 100px;
    cursor: pointer;
    justify-content: center;
    background-color:#D0BDF4 ;
    height: 90px;
    width: 200px;
    text-decoration: none;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.allBlogs .blogTitle{
    padding:0;
    align-items: center;
    font-weight: lighter;
    font-size: 40px;
    color: #E5EAF5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.allBlogs .blogTitle{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.BlogList{
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.blogItem{
    border-radius: 8px;
    width: 250px;
    height: 350px;
    padding:20px;
    margin: 40px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}

.blogItem:hover {
    box-shadow: rgba(43,43,48,02) 0px 7px 29px 0px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.blogItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.blogItem h1, 
.blogItem p{
    margin-left: 10px;
}

@media only screen and (max-width: 1300px) {
    .BlogList{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 750px){
.BlogList{
grid-template-columns: 1fr;
}
}
    
