.body{
    background: #44646c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('../assets/GamingMoviesWallpapers/end.png');
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    text-align: center;
    color: #4c442c;
    font-size: 100px;
    height: 100px;
    font-weight: 500;
}


#container{
    width: 1200px;
    border-radius: 15px;
    height: 500px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    border: 1px solid #8d786e;
    backdrop-filter: blur(25px);
    -moz-box-shadow: 0px 10px 33px 0px #8d786e;
    box-shadow: 0px 10px 33px 0px #081413;

}
.Info{
    background-color: #c1bdc6;
    flex: 0 1 45%;
    border-radius: 15px;
    padding: 40px;
    color: #081413;
   display: flex;
   flex-direction: column;
}

.Info h4{
    font-size: 2rem;
    font-weight: 700;

    margin: 0;
}

.Info p {
    color: #081413;
font-size: 1.2rem;
font-weight: 300;
margin-bottom: 2rem;
}

.icontext{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icontext span{
    font-size: 1.3rem;
    font-weight: 300;

}

.icontext fa{
        font-size: 2.2rem;
        color: #4c442c;
        margin-right: 2rem;
        flex: 0 1 20%;
    
}



Socials {
    display: flex;
    width: 50%; 
    background: #081413;
    justify-content: space-between;

}

Socials icon-circle{
  flex: 1 1 25%;
  justify-content: center;
  align-items: center;
}


col2 {
    padding:40px;
    display: flex;
    width: 10%;
    flex: 0 0 100%;
}

group{
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    padding-right: 40px;
  
}

.group label{
     
        font-size:1.2rem ;
        color: #081413;
        margin-bottom: 1rem;
    
}

input[type="text"], input[type = "tel"], input[type = "email"], textarea{

border: none;
padding: 10px;
font-size: 1.3rem;
font-weight: 300;
color: #081413;
cursor: pointer;
background: transparent;
border-bottom: 2px solid #081413 ;
transition: all .3s ease-in-out;
margin-bottom: 2rem;



}
&:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid #44646c ;
}

&:nth-child(2){
     padding-right: 0;   
}

&.solo{
    padding: 0;
}

&.right{
    align-items:  flex-end;
}

button{
    width: 200px;
    height: 60px;
    cursor: pointer;
    background: #8d786e;
    color: #c1bdc6 ;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
}

