

.webframes {
    width: auto;
    margin: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.webframes h1{
    justify-content: center;
    align-items: center;
    font-size: 90px;
    height: 60px;
    font-weight: 500;
    color: #4c442c;
}

.webframes h2{
    justify-content: center;
    align-items: center;
    font-size: 70px;
    height: 50px;
    font-weight: 500;
    color: #8d786e;
}



.webframes p{
padding:0;
font: 60px;
font-weight: lighter;
color: #c1bdc6;

}




.Wframes {
    width: auto;
    margin: 50px;

}
.Wframes h1{
    justify-content: center;
    align-items: center;
    font-size: 80px;
    height: 60px;
    font-weight: 500;
    color: #8d786e;
}

.Wframes p{
padding:0;
font: 60px;
font-size: 25px;
font-weight: lighter;
color: #c1bdc6;

}

.Wframes img{
    width: 70%;
    height: 70vh;
    
    
    }

    

    .Wframes h3{
        justify-content: center;
        align-items: center;
        font-size: 50px;
        height: 30px;
        font-weight: 500;
        color: #8d786e;
    }


@media only screen and (max-width: 700px){
    .webframes{
        justify-content: center;
        align-items: center;
    }

    .webframes{
        margin-left: 0px;
        padding: 10px;
        border-radius: 10px;
        width: 80%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #8d786e;
        background-color: #081413;
    }

    .webframes h1{
        font-size: 40px;
        height: 30px;
        color: #8d786e;
    }

    .webframes p{
        font-size: 30px;
        color: #8d786e;
    }

    .Wframes img{
        width: 70%;
        height: 40vh;
        
        }

   

}
